
<div class="mobile-screen">
      <div class="chat-header">
        <div class="profile-pic border border-green-500">
            <img [src]="interviewerAvatar" alt="Avatar Entrevistador" class="w-full h-full object-cover rounded-full">
        </div>
        <span>Entrevistador (Equipo RRHH)</span>
      </div>

      <div #chatContainer class="chat-container">
        @for (message of messages(); track message.text; let i = $index) {
          @if (i < visibleMessagesCount()) {
            <div 
              class="message flex items-end {{ message.sender === 'interviewer' ? 'justify-start' : 'justify-end' }}"
              [class.visible]="true"
            >
              @if (message.sender === 'interviewer') {
                <div class="avatar mr-2">
                    <img [src]="message.avatarUrl" alt="E" class="w-full h-full object-cover rounded-full">
                </div>
              }
              <div 
                class="bubble px-3 py-2 rounded-lg max-w-[85%] shadow-md text-sm transition-opacity duration-500 ease-in-out"
                [class.interviewer-bubble]="message.sender === 'interviewer'"
                [class.you-bubble]="message.sender === 'you'"
                [class.rounded-bl-none]="message.sender === 'interviewer'"
                [class.rounded-br-none]="message.sender === 'you'"
              >
                {{ message.text }}
              </div>
              @if (message.sender === 'you') {
                <div class="avatar ml-2">
                    <img [src]="message.avatarUrl" alt="T" class="w-full h-full object-cover rounded-full">
                </div>
              }
            </div>
          }
        }
      </div>
      
      <div class="chat-footer flex items-center p-2">
          <input type="text" placeholder="Escribe un mensaje..." disabled class="flex-grow p-3 rounded-full border-none shadow-inner bg-white text-gray-700 mx-1">
          <button disabled class="bg-[#075E54] text-white w-12 h-12 rounded-full flex items-center justify-center text-2xl shadow-lg flex-shrink-0">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.01 21L23 12L2.01 3L2 10L17 12L2 14L2.01 21Z" fill="white"/>
            </svg>
          </button>
      </div>
    </div>

