<h1 class="text-center text-5xl md:text-5xl font-bold mb-14 pt-14">Tecnologias</h1>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6">
  <!-- CSS3 -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" 
         class="w-40 h-40 mb-3" alt="CSS3">
    <span class="text-lg font-medium">CSS3</span>
  </div>

  <!-- HTML5 -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" 
         class="w-40 h-40 mb-3" alt="HTML5">
    <span class="text-lg font-medium">HTML5</span>
  </div>

  <!-- JavaScript -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" 
         class="w-40 h-40 mb-3" alt="JavaScript">
    <span class="text-lg font-medium">JavaScript</span>
  </div>

  <!-- TypeScript -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" 
         class="w-40 h-40 mb-3" alt="TypeScript">
    <span class="text-lg font-medium">TypeScript</span>
  </div>

  <!-- Angular -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angular/angular-original.svg" 
         class="w-40 h-40 mb-3" alt="Angular">
    <span class="text-lg font-medium">Angular</span>
  </div>

  <!-- bootstrap -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" 
         class="w-40 h-40 mb-3" alt="bootstrap">
    <span class="text-lg font-medium">Bootstrap</span>
  </div>

  <!-- tailwind -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" 
         class="w-40 h-40 mb-3" alt="tailwind">
    <span class="text-lg font-medium">Tailwind</span>
  </div>

  <!-- Php -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" 
         class="w-40 h-40 mb-3" alt="php">
    <span class="text-lg font-medium">Php</span>
  </div>

  <!-- nodejs -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" 
         class="w-40 h-40 mb-3" alt="nodejs">
    <span class=" text-lg font-medium">NodeJS</span>
  </div>

  <!-- mysql -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img    onmouseout="this.src='https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg';" onmouseover="this.src='https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg';"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" 
         class="w-40 h-40 mb-3 transition transform duration-1500 ease-in-out hover:-rotate-40 hover:-translate-x-[500%]" alt="mysql">
    <span class="text-lg font-medium">MySQL</span>
  </div>

  <!-- github -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" 
         class="w-40 h-40 mb-3" alt="github">
    <span class="text-lg font-medium">GitHub</span>
  </div>
  
  <!-- trelo -->
  <div class="flex flex-col items-center p-6 transition transform hover:scale-105 animate-bounce-sm">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/trello/trello-original.svg"
         class="w-40 h-40 mb-3" alt="trelo">
    <span class="text-lg font-medium">Trelo</span>
  </div>

  
</div>

