<div class="bg-base-300/40">
<h1 class="text-center text-5xl md:text-5xl font-bold mb-14 pt-14">Experiencia
    <span class="block w-20 h-1 bg-green-500 mx-auto mt-4 rounded-full shadow-lg shadow-purple-500/50"></span>
</h1>

<ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical px-4">
    <li>
        <div class="timeline-middle">
    <img src="assets/images/diploma.svg" class="h-5 w-5">
</div>
        <div class="timeline-start mb-10 md:text-end text-start"> 
            <time class="font-mono italic">2025</time>
            <div class="text-lg font-black">G.S Desarrollo de Aplicaciones Web</div>
            
            <div class="max-w-sm text-justify ml-0 md:ml-auto">
                Este grado me ha formado como desarrollador/a full-stack, con la capacidad de crear y mantener aplicaciones web de principio a fin.
                En el front-end, domino el diseño visual y la interactividad con HTML, CSS y JavaScript.
                En el back-end, trabajo con la lógica del servidor, la gestión de bases de datos y la seguridad.
                En definitiva, una formación completa que me prepara para un rol versátil, creativo y muy demandado en el mundo tecnológico.
                </div>
        </div>
        <hr />
    </li>
    
    <li>
        <hr />
        <div class="timeline-middle">
          <img src="assets/images/portatil.png" class="h-5 w-4">
        </div>
        <div class="timeline-end md:mb-10 text-start">
            <time class="font-mono italic">2025</time>
            <div class="text-lg font-black">Prácticas Fundación Medac</div>
            
            <div class="max-w-sm text-justify mr-0 md:mr-auto">
                Durante mis prácticas participé en el desarrollo de interfaces web con HTML, CSS y JavaScript, siempre priorizando la usabilidad y el diseño responsive (UX/UI). 
                Implementé componentes interactivos como avisos, formularios de contacto y sistemas de registro de incidencias. 
                También trabajé con bases de datos relacionales, autenticación de usuarios y validación de formularios, aplicando buenas prácticas de control de versiones con Git y GitHub.
                La experiencia me permitió desenvolverme en metodologías ágiles (Trello, reuniones de seguimiento) y reforzar habilidades de trabajo en equipo, 
                resolución de problemas y adaptación al flujo de desarrollo.                </div>
        </div>
        <hr />
    </li>
    
    <li>
        <hr />
        <div class="timeline-middle">
          
            <img class="h-5 w-5"  src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
          
        </div>
        <div class="timeline-start mb-10 md:text-end text-start">
            <time class="font-mono italic">2025</time>
            <div class="text-lg font-black">Curso Angular</div>
            
            <div class="max-w-sm text-justify ml-0 md:ml-auto">
                 Al realizar un curso de Angular aprendí a trabajar con uno de los frameworks más utilizados en el desarrollo web moderno. 
                La experiencia me permitió comprender cómo organizar proyectos de manera más eficiente,
                crear aplicaciones dinámicas y escalables, y aplicar buenas prácticas que mejoran tanto el rendimiento como la experiencia del usuario.
                </div>
        </div>
    </li>
</ul>
</div>