 /* Contenedor del fondo */
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    filter: blur(0.5px);
    transition: background 0.5s ease;
  }

  /* Partículas */
  .particle {
    position: absolute;
    border-radius: 70%;
    opacity: 0.8;
    animation: cosmic-flow linear infinite;
    transition: background 0.5s, box-shadow 0.5s;
  }

  /* Partículas tema oscuro */
  html[data-theme="dark"] .particle {
    background-color: lime;
    box-shadow: 0 0 4px lime;
  }

  /* Partículas tema claro */
  html[data-theme="light"] .particle {
    background-color: orange;
    box-shadow: 0 0 4px orange;
  }

  @keyframes cosmic-flow {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
      opacity: 0.4;
      box-shadow: 0 0 4px lime;
    }
    50% {
      transform: translate3d(10vw, 5vh, 0) scale(1.1);
      opacity: 0.8;
      background-color: lime;
      box-shadow: 0 0 10px lime, 0 0 20px #5eff00;
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
      opacity: 0.4;
      box-shadow: 0 0 4px lime;
    }
  }