<div class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="" class="hover:scale-105">Home</a></li>
        <li><a href="" class="hover:scale-105">Sobre mí</a></li>
        <li><a href="" class="hover:scale-105">Experiencia</a></li>
        <li><a href="" class="hover:scale-105">Tecnologias</a></li>
        <li><a href="" class="hover:scale-105">Proyectos</a></li>
        <li><a href="" class="hover:scale-105">Contacto</a></li>
      </ul>
    </div>
    <a class="font-bold text-xl ml-2">Rubén Alcaraz Porfolio</a>
    <!-- <status-text class="pl-2"/> -->
  </div>
  <div class="navbar-center hidden lg:flex ml-2">
    <ul class="menu menu-horizontal px-1 space-x-8 ">
        <li><a href="" class="hover:scale-105">Home</a></li>
        <li><a href="" class="hover:scale-105">Sobre mí</a></li>
        <li><a href="" class="hover:scale-105">Experiencia</a></li>
        <li><a href="" class="hover:scale-105">Tecnologias</a></li>
        <li><a href="" class="hover:scale-105">Proyectos</a></li>
        <li><a href="" class="hover:scale-105">Contacto</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <app-theme-controller/>
  </div>
</div>
