<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="container mx-auto px-6 text-center">
      <h1 class="text-5xl md:text-7xl font-bold mb-6">Hola, soy
        <span class="text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-orange-600">Rubén Alcaraz</span>
      </h1>
      <p class="py-6 text-xl md:text-2xl mb-4 max-w-3xl mx-auto transition-colors">
        Desarrollador Web Full Stack, especializado en crear diseños atractivos e interactivos que comunican información de forma clara y efectiva.
      </p>
      <status-text class="inline-block mb-8"/>
      <div class="flex flex-col sm:flex-row justify-center gap-4">
      <a href="" class="bg-gradient-to-r from-green-600 to-yellow-500 hover:from-green-700 hover:to-yellow-600 text-white px-8 py-3 rounded-2xl font-semibold transition-colors flex items-center justify-center gap-2 border border-y-white hover:scale-105">Contacto</a>
      <a href="" class="bg-gradient-to-r from-yellow-500 to-orange-600 hover:from-yellow-600 hover:to-orange-700 text-white px-8 py-3 rounded-2xl font-semibold transition-colors flex items-center justify-center gap-2 border border-white hover:scale-105">Decargar CV</a>
      </div>
    </div>
  </div>
</div>
